<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation System</title>
</head>
<body>
    <h1>Système de recommandation</h1>
    <form id="user-form">
        <select id="user_id">
            {% for user_id in user_ids %}
            <option value="{{ user_id }}">{{ user_id }}</option>
            {% endfor %}
        </select>
        <button type="submit">Get Recommendations</button>
    </form>
    <div id="recommendations"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#user-form').submit(function(event) {
                event.preventDefault();
                var userId = $('#user_id').val();
                $.post('/get-recommendations', { user_id: userId }, function(data) {
                    $('#recommendations').html('<h2>Recommended Articles:</h2>' + JSON.stringify(data));
                });
            });
        });
    </script>
</body>
</html>
